$cWhite: white;
$cBlack: black;

.swiper-slide {
  display: flex;
  height: 300px;
  width: 100%;
  overflow: hidden;
    flex-direction: row;
  & > img {
    overflow: hidden;
    width: 60%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.9);
    transition: transform 1.9s ease-in-out;
    &:hover {
      transform: scale(1);
    }
  }
}

.profile {

  & .profile-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 30%;
    margin: 0 10%;
  }

  & .profile-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 30%;
  }

  & .btn {
    position: relative;
    display: inline-block;
    background-color: $cWhite;
    border: 1px solid $cBlack;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $cBlack;

    &:hover {
      background-color: $cBlack;
      color: $cWhite;
    }
  }
}

