@use "globals" as *;


.swiper-slide {
    display: flex;
  height: 500px;
  overflow: hidden;
    position: relative;
    flex-direction: row;
  & > img {
    position: absolute;
    width: 30%;
    height: 30%;
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 1.9s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
  }

  &-active {
    & > img {
      transform: none;
    }

    & .hero__title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}